<!DOCTYPE html>

<html>

   <head>
      <% include ../static/partials/head.ejs %>
   </head>

   <body>

      <% include ../static/partials/navbar.ejs %>

      <main class="container">
         <% include ../static/partials/messages.ejs %>
         <h2 style="padding-top:20px"> <%= `${user.username}` %> Profile: </h2>




         <ul class="list-group" >
            <% if (wikis) { %>
               <h4> Public Wikis: </h4>
               <% wikis.forEach((wiki) => {  %>
                  <%if (wiki.private == false) { %>
                     <li style="font-style:italic">
                        <a href="/wikis/<%= wiki.id %>">
                           <%= wiki.title %>
                        </a>
                     </li>
                  <% } %>
               <% }) %>
            <% } %>
         </ul>
         <ul class="list-group" >
            <% if (wikis) { %>
               <h4> Private Wikis: </h4>
               <% wikis.forEach((wiki) => {  %>
                  <%if (currentUser.id === wiki.userId && wiki.private == true) { %>
                     <li style="font-style:italic">
                        <a href="/wikis/<%= wiki.id %>">
                           <%= wiki.title %>
                        </a>
                     </li>
                  <% } %>
               <% }) %>
            <% } %>
         </ul>

         <% if (user.isAdmin() || user.isPremium() ) { %>
            <form style="display:initial" action="/users/<%= currentUser.id %>/updateStandard" method="post">
               <button type="submit" class="btn btn-danger"> Downgrade to Standard </button>
               <small style="display:block" class="text-muted" id="bodyHelp"> If you choose to downgrade your account, all of your private wikis will become public.</small>
            </form>
         <% } else if (user.role === 0) { %>
            <form style="display:inital" action="/users/<%= currentUser.id %>/payment" method="get">
               <button type="submit" class="btn btn-primary"> Upgrade to Premium! </button>
            </form>
         <% } %>

      </main>

</html>
